html{
    scrollbar-width: normal;
}
html::-webkit-scrollbar{
    width: 3px;
    height: 10px;
}
html::-webkit-scrollbar-thumb{
    background-color: #C5C6C7;
}
html::-webkit-scrollbar-track{
    background-color: #1f1f20;
}

    
* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

  
body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(img/sf.jpeg);
    background-size: cover;
    min-height: 90vh;
    width: 100vw; 
    background-repeat: no-repeat;
    overflow-x: hidden;    
}
.header-nav{
    height: 150px;
    width: 100%;
    background: rgba(22,20,21,0.5); 
    z-index: 90;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.nav-list{
    float: right;
    padding: 60px 50px;
}
.nav-b{
    color: #fff;
    cursor: pointer;   
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 17px;
    border-radius: 10px 10px 10px 10px;
    letter-spacing: 1px;
    width: max-content;
    position: relative;
    margin: 100px 30px;
}
.nav-b::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: #fff;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
.nav-b:hover::after{
    transform: scaleX(1);

}
.logo{
   height: 85px;
   width: 85px;
   border-radius: 50px 50px 50px 50px ;
   margin: 30px 30px;
   cursor: pointer;
}

.header-nav h2{
    color: #fff; 
    letter-spacing: 5px;
    position: absolute;
    margin: 55px 140px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* SIDE BAR NAVIGATION */

.side-nav{
    position: fixed;
    margin: 250px 0px;
    background: rgba(39, 35, 35, 0.9);
    height: 500px;
    width: 260px;
    z-index: 80;
    display: none;  
    border-radius: 0 30px 30px 0;
     
}
.list-btn{
    margin: 50px 50px;
    
}
.list-btn li{
    padding: 30px 5px ;
    font-size: 16px;
    font-family: "Verdana", Geneva, Tahoma, sans-serif;
    cursor:pointer;
    text-decoration: none;
    color: #fff;
    text-align: justify;
    list-style-image: url(img/sidenav.png);
    
}
.list-btn li:hover{
    font-weight: bold;
}

/*TESTINGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG*/ 
.hide-bt{
    position: absolute;
    margin: 200px 260px;
    background: rgba(39, 35, 35, 0.9);
    color: #fff;
    padding: 5px;
    border:none;
    border-radius: 0 30px 30px 0;
    font-size: 30px;
    cursor: pointer;
    height: 100px;
    box-shadow: 0 7px 14px 0 rgba(0,0,0,.2);
    
}
.show-bt{
    background: rgba(39, 35, 35, 0.9);
    color: #fff;
    padding: 10px;
    border:none;
    border-radius: 0 40px 40px 0px;
    font-size: 30px;
    cursor: pointer;
    height: 100px;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.2);

}
.hide-bt:hover,.show-bt:hover{
    background: #fff;
    color: rgba(0,0,0,0.6);
}
.show-con{
    margin: 450px 0;
    position: fixed;
    display: block;
    z-index: 75;
}
.in_nav{
    animation: slide_in 0.5s forwards;
}
.out_nav{
    animation: slide_out 0.5s forwards;
}

@keyframes slide_in{
    from{
        opacity: 0;
        transform: translateX(-20px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slide_out{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(-20px);
    }
}



/* HOME --- TITLE */
.title-box{
    position: absolute;
    height: 1000px;
    width: 1000px;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,0%);
}


.title{
    color: #fff;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: center; 
    margin: 400px 0;
}

.subtitle{
    color: #fff;
    font-size: 20px;
    font-family: cursive;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    bottom: 40%;
     

    
}
/* ABOUT US --- developers, the website itself, purpose */ 


.about-box{
    top: 100%; 
    position: absolute;
    background:rgba(35,33,34,255);
    background-size: cover;
    height: 955px;
    width: 100vw;
    display: grid;
    grid-template-columns: 25px 650px 600px  ;
    grid-row: inherit;
    z-index: 10;    
}
.text-about{
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 50px;
    color: #fff;
    margin: 240px 140px;
    font-weight: bold;
    letter-spacing: 4px;
    width:350px;

}

.side-popup-bar{
    margin: 180px 1400px;
    position: absolute;
    z-index: 12; 
    height: 150px;
    width: 500px;
    background:rgba(35,33,34,255);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.6);
    border-radius: 30px 30px 30px 30px; 
    display: none;
}
.side-popup-bar img{
    position: absolute;
    margin: 25px 40px;
    border-radius: 50px 50px;
    cursor: auto;
}
.side-popup-bar h3{
    color: #fff;
    margin: 60px 170px;
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: auto;
}

.side-popup-bar-animate{
    animation: barslide 0.5s forwards; 
}
@keyframes barslide{
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.side-popup-bar-animate-reverse{
    animation: barslide_reverse 0.5s forwards; 
}
@keyframes barslide_reverse{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(30px);
        opacity: 0;
    }
}



.first-pg{
    height: 1000px;
    width: 1000px;
    display: inline-flex;
    margin-left: -260px;
    display: none;
    
    
}
.second-pg{
    height: 500px;
    width: 1100px;
    position: relative;
    margin: 290px 80px;
    border-radius: 10px 10px 10px 10px; 
    display: inline-flex;
}

.third-pg{
    height: 500px;
    width: 500px;
    position: absolute;
    display: flex; 
    background: #1f1f20;
    margin: -50px 1150px;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
.third-pg img{
    position: absolute;
    height:250px;  
    width:500px;
    border-radius: 10px 10px 10px 10px;
}

.text-about-2{
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
    text-align: justify;
    line-height: 35px;
    margin-top: 280px;
     
}
.text-about-2 span:hover{
    color: #4CAF50;
    text-decoration: underline;
    cursor: pointer;
}
.info-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: justify;
    padding: 40px 30px;
    font-size: 23px;
    line-height: 40px;
    
    
}
.switch{
    position: absolute;
    z-index: 15;
    grid-template-columns: 100px 100px ;
    grid-row: inherit;
    top: 95%;
    left: 65%;
    transform: translate(-95%, -65%);
    
}
.switch button{
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: #fff;
    background: transparent;
    justify-content: space-between;
    padding: 10px;
    margin: 70px;
    font-weight: bolder; 
    
}

/* OFFERED PROGRAMS --- existed programs in QCU SF */ 

.courses-box{
    top: 200%; 
    position: absolute;
    height: 1100px;
    width: 100vw; 
    display: grid;
    grid-template-columns: 25px 600px 600px 600px ;
    grid-row: inherit;
    z-index: 11;
    background:  linear-gradient(rgba(255, 246, 246, 0.9), rgba(255, 246, 246, 0.9)), url(img/bgCourses.png);
    background-size: cover; 
}
.text-courses{
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 45px;
    color: #000;
    top: 250px;
    left: 150px;
    letter-spacing: 4px;
    width:500px;
}
.bsit-c{
    height: 500px;
    width: 500px;
    background: #F5F5F5;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    margin: 350px 100px;
    border-radius: 10px 10px 10px 10px; 
    display: inline-flex;
    background: #5463FF;
}
.bsit-c img{
    height: 350px;
    width: 350px;
    padding: 20px 70px;
    position: relative;
}
.bsit-c h1{
    color: #FFF;
    position: absolute;
    margin: 400px 70px;
    font-family: Arial, Helvetica, sans-serif; 
    letter-spacing: 1px;
    text-align: center; 
    line-height: 30px;
    font-size: 20px;
    word-spacing: 10px;
    cursor: pointer;
    text-decoration: underline;
}
.bsit-c h1:hover{
    color: rgb(0, 255, 0);
}
.bsent-c{
    height: 500px;
    width: 500px;
    background: #F5F5F5;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    margin: 350px 70px;
    border-radius: 10px 10px 10px 10px; 
    display: inline-flex;
    background: #E8AA42 ;
}
.bsent-c img{
    height: 350px;
    width: 370px;
    padding: 20px 70px;
    position: relative;
}
.bsent-c h1{
    color: #FFF;
    position: absolute;
    margin: 400px 70px;
    font-family: Arial, Helvetica, sans-serif; 
    letter-spacing: 1px;
    text-align: center; 
    line-height: 30px;
    font-size: 20px;
    word-spacing: 10px;
    cursor: pointer;
    text-decoration: underline;
}
.bsent-c h1:hover{
    color: rgb(0, 255, 0);
}

.pending-c{
    height: 500px;
    width: 500px;
    position: relative;
    margin: 350px 120px;
    border-radius: 10px 10px 10px 10px; 
    display: inline-flex;
    background: #C1224F  ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

}
.pending-c p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
    text-align: justify;
    padding: 25px 30px;
    font-size:20px;
    line-height: 35px;
 
}

/* FACILITIES CONTAINER - rooms and offices */ 
.facilities-box{
    top: 309%; 
    position: absolute;
    background:rgba(35,33,34,255); 
    height: 965px;
    width: 100vw;
    display: grid;
    grid-template-columns: 25px 600px 600px 600px  ;
    grid-row: inherit;
    z-index: 12;
    
}
#next-slide{
    height: 50px;
    width: 100px;
    position: absolute;
    float: right;
    margin:250px 1700px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    border-radius:10px 10px 10px 10px;
    letter-spacing: 2px;
    font-size: 15px;
}
#next-slide:hover{
    background: #fff;
    color: #000;
    font-weight: bold;
}
#show_admin,#show_library,#show_clinic,
#show_comlab,#show_faculty,#show_greenhouse{
    letter-spacing: 2px;
    font-size: 12px;
    padding: 5px;
}

.text-facilities{
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 45px;
    color: #fff;
    top: 250px;
    left: 130px;
    letter-spacing: 4px;
    width:500px;
}


.f-admin,.f-library,.f-clinic{
    height: 500px;
    width: 500px;
    margin: 350px 100px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.6);
    border-radius: 15px 15px 15px 15px;
    position: relative;
    display: inline-flex;
    background: #0F0F0F;
}
.f-admin img, .f-library img, .f-clinic img{
    height: 300px;
    width: 350px;
    margin: 50px 75px;
    border-radius: 20px 20px 20px 20px ;
}

.f-admin h2 , .f-library h2, .f-clinic h2{
    color: #fff;
    width: 300px;
    position: absolute;
    top: 370px; 
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f-admin button, .f-library button, .f-clinic button{
    position: absolute;
    height: 50px;
    width: 100px;
    margin: 420px 200px;
    border: none;
    background: #59ac00;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-image: linear-gradient(to right, #3e8e41, #4CAF50);
    background-size: 0 100%;
    transition: background-size 0.5s ease-in-out;
    border-radius: 20px 20px 20px 20px ;
}

.f-admin button:hover, .f-clinic button:hover, .f-library button:hover{
    background-size: 100% 100%;
    font-weight: bold;
}
/* new set of facilities */ 
.facilities-new-set{
    height: 500px;
    width: 1720px;
    margin: 350px 0;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    background: none;
    display: none ;   /*none or grid*/ 
    grid-template-columns: 600px 600px 600px 600px ;
    grid-row: inherit;
    z-index: 13;
}
.f-comlab, .f-faculty, .f-greenhouse{
    height: 500px;
    width: 505px;
    margin: 0 120px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,.6);
    border-radius: 15px 15px 15px 15px;
    position: relative;
    display: inline-flex;
    background: #0F0F0F;
}
.f-comlab img, .f-faculty img, .f-greenhouse img{
    height: 300px;
    width: 350px;
    margin: 50px 75px;
    border-radius: 20px 20px 20px 20px;
}
.f-comlab h2, .f-faculty h2, .f-greenhouse h2{
    color: #fff;
    width: 300px;
    position: absolute;
    top: 370px; 
    left: 50%;
    transform: translate(-50%,0);
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.f-comlab button, .f-faculty button, .f-greenhouse button{
    position: absolute;
    height: 50px;
    width: 100px;
    margin: 420px 200px;
    border: none;
    background: #59ac00;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-image: linear-gradient(to right, #3e8e41, #4CAF50);
    background-size: 0 100%;
    transition: background-size 0.5s ease-in-out;
    border-radius: 20px 20px 20px 20px ;
}


.f-comlab button:hover,.f-faculty button:hover, .f-greenhouse button:hover{
    background-size: 100% 100%;
    font-weight: bold;
}


/* THIS CONTAINER IS FOR POP UP CONTENT */ 


/*SHOW ADMIN*/ 
.f-js-popup-admin,.f-js-popup-library,.f-js-popup-clinic,
.f-js-popup-comlab,.f-js-popup-faculty,.f-js-popup-greenhouse{
    position: fixed;
    z-index: 91;
    height: 1000px;
    width: 100vw;
    background: rgba(0,0,0,.8);
    display: none; /*block or none */
}

.hide-this{
    float: right;
    font-size: 25px;
    height: 60px;
    width: 60px;
    font-weight: bold;
    background: rgba(0,0,0,.6);
    color: #fff;
    margin: 30px 30px;
    cursor: pointer;
    border: none;
}
.f-showbox{
    top: 20%;
    left: 15%;
    position: absolute;
    background:  rgba(0,0,0,.6);
    padding: 40px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,.3);
    text-align: center;
    height: 600px;
    width: 600px;
}
.f-showbox h1{
    color: #fff;
    font-family: "poppins", sans-serif;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing: 3px;
    word-spacing: 2px;
}
.f-showbox img{
    height: 500px;
    width: 500px;
    border-radius: 10px 10px 10px 10px;
}   
.f-showbox2{  /* FOR FACILITIES */
    height: 600px;
    width: 600px;
    padding: 40px;
    background: #1f1f20;
    top: 20%; 
    left: 50%;
    position: absolute;
    background:  rgba(0,0,0,.6);
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,.3);
    text-align: justify;
    overflow-y: auto;
}
.f-showbox2 p{
    color: #fff;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 20px;
    
} 
.f-showbox2 ul{
    margin-top: 80px;
    margin-bottom: 30px;
    color: #fff;
}
.f-showbox2::-webkit-scrollbar-track{
    width: 5px;
    background: #fff;
}
.f-showbox2 ul li{
    margin-top: 10px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    letter-spacing: 3px;
}

.f-showbox2{
    scrollbar-width: normal;
}
.f-showbox2::-webkit-scrollbar{
    width: 20px;
}
.f-showbox2::-webkit-scrollbar-thumb{
    background-color: #C5C6C7;
}
.f-showbox2::-webkit-scrollbar-track{
    background-color: #1f1f20;
    
}
.f-showbox2 a{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: underline;
}
/* objective BOX --- obj about QCU SF */ 

.obj-box{
    top: 410%; 
    position: absolute;
    background:  linear-gradient(rgba(255, 246, 246, 0.9), rgba(255, 246, 246, 0.9)), url(img/objbg.png);
    background-size: cover;
    height: 1100px;
    width: 100vw; 
    display: grid;
    grid-template-columns: 25px 600px 600px 600px ;
    grid-row: inherit;
    z-index: 12;
    
}
.text-obj{
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 45px;
    color: #000;
    top: 230px;
    left: 150px;
    letter-spacing: 4px;
    width:500px;
}
.container {
    display: flex;
    margin: 330px 150px;
    position: absolute;
   
}

.column-1,.column-2,.column-3 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    height: 500px;
    width: 500px;
}

.column-1 {
    background:#C1224F ;
    border: none;
    border-radius: 20px 0 0 20px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}
.column-2 {
    background:#5463FF ;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}
.column-3 {
    background:#E8AA42 ;
    border: none;
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);

}

.column-1 h2,.column-2 h2,.column-3 h2{
    font-family: Arial;
    text-align: center;
    font-size: 35px;
    letter-spacing: 3px;
    margin-top: 125px;
    color: #fff;
}
.column-1 p,.column-2 p,.column-3 p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 50px;
    color: #fff; 
    margin-top: 30px;
}
/* MAP CONTAINER - qcu sf locator */ 
.map-box{
    top: 520%;  
    position: absolute;
    background:rgba(35,33,34,255); 
    height: 1000px;
    width: 100vw;
    display: grid;
    grid-template-columns: 25px 600px 600px 600px  ;
    grid-row: inherit;
    z-index: 12;
    
}
.map-con {
    height: 500px;
    width: 900px;
    margin: 400px 200px;

}
.map-con h2,.map-con p,.map-con {
    color: #fff;
    font-family: Arial;
    text-align: justify;
    
}
.map-con h2{  
    font-size: 45px;
    letter-spacing: 5px;
    line-height: 65px;
}
.map-con p{
    font-size: 25px;
}
.map-con button{
    font-size: 20px;
    margin-top: 40px;
    padding: 20px;
    cursor: pointer; 
    border: none;
    border-radius: 20px 20px 20px 20px;
    color: #fff;
    background: #C1224F;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.3);
}

.map-con button:hover{
   color: #fff;
   font-weight: bold;
   border: 1px solid #fff;
   background: none;
}
.map-logo-pic{
    position:absolute;
    margin: 300px 1200px;
    height: 300px;
    width: 550px;
    
}

/* GALLERY CONTAINER - qcu sf images collection & qcu contact info */ 
.gallery-box{
    top: 620%;  
    position: absolute;
    background: linear-gradient(rgba(255, 246, 246, 0.9), rgba(255, 246, 246, 0.9)), url(img/gallerybg.JPG); 
    background-size: cover;
    height: 1500px;
    width: 100vw;
    display: grid;
    grid-template-columns: 25px 600px 600px 600px  ;
    grid-row: inherit;
    z-index: 12;
    
}
.text-gallery{
    position: relative;
    font-family: "poppins", sans-serif;
    font-size: 45px;
    color: #000;
    top: 230px;
    left: 150px;
    letter-spacing: 4px;
    width:500px;
}
.img-grid-con{
    display: grid;
    grid-template-columns: repeat(20, 1fr); 
    gap: 50px; 
    height: 500px;
    margin: 350px 110px;
    overflow-x: auto;
    width: 1750px;
    position: absolute;

}
.img-grid-item{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 500px;
    height: 400px;
    border: none;
}

/*CONTACT BOX - for contact information */ 
.contact-box{
    top:85%; 
    height: 500px;
    width: 1000vw;
    background: #1f1f20;
    position: absolute;
}


/* CSS ANIMATION */ 
.popup-animate{
    animation: popUP 0.5s forwards;
}
@keyframes popUP{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fade-out{
    animation-name: slide-left-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slide-left-fade {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-30px);
      opacity: 0;
    }
  }
.fade-in{
    animation-name: slide-right-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
} 
@keyframes slide-right-fade {
    from {
      transform: translateX(30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


/* reverse fade */

.reverse-fade-out{
    animation-name: reverse-left-fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes reverse-left-fade {
    from {
      transform: translateX(-30px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}

.reverse-fade-in{
    animation-name: reverse-right-fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
} 
@keyframes reverse-right-fade {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(30px);
      opacity: 0;
    }
  }  


  @media screen and (max-width: 768px) {
    body {
        background-size: auto; 
    }

    .header-nav {
        height: auto;
    }

    .nav-list {
        float: none;
        padding: 20px;
        text-align: center;
    }

    .nav-b {
        margin: 10px;
    }

    .logo {
        margin: 20px;
    }

    .side-nav {
        display: none;
    }

    .hide-bt,
    .show-bt {
        display: block;
    }

}